<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Hiba történt > Tábla Export</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
    </head> 
    <body>
        <main class="container-fluid" id="main" style="margin-top:0.5rem;">
            <div class="col-12 text-center">
                <h2>A manóba, ez nem jött össze :/</h2>
                <p>Ez az oldal sajnos nem található a szerveren (404 not found)</p>
            </div>
        </main>
    </body>
</html>