<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta lang="HU" />
        <meta name="description" content="Tábla export főoldal">
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="white">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ name }} > Tábla Export</title>
        <link rel="manifest" href="/static/manifest.json" />
        <link rel="stylesheet" href="/static/styles.css" />
        <link href="/static/bootstrap.min.css" rel="stylesheet" />
    </head> 
    <body>
        <main class="container-fluid" id="main" style="margin-top:0.5rem;">
            <div class="row text-center">
                <h2>Sikeres frissítés.</h2>
                <p style="font-size: 1.5rem;">Katt ide, hogy visszatérj a kezdőlapra.</p>
            </div>
            <div class="row text-center">
                <h2>Nem sikerült frissíteni az adatbázist.</h2>
                <p style="font-size: 1.5rem;">Az adatbázist csak 15 percenként tudod frissíteni.</p>
            </div>
            <div class="row text-center">
                <h2>Nem sikerült frissíteni az adatbázist.</h2>
                <p style="font-size: 1.5rem;">Belső rendszerhiba történt.</p>
            </div>
        </main>
        <script src="/static/bootstrap.bundle.min.js"></script>
    </body>
</html> 